<html>
    <head>
        <title>Appart</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>Encoder les données de la pièce</h1>
        <form method="POST" action="/"></form>
            Pièce :     
            <input type="text" name="name" value="" class="inp1"/><br />
            Largeur :
            <input type="number" name="lenght" value="" class="inp4" /><br />
            Longueur :
            <input type="number" name="width" value=""  class="inp3" /><br />
            <input type="submit" value="Enregistrer" class="inp2"/><br />
        </form>
        <input type="submit" name="save" value="Calculer la surface" class="inp2"/>
        <p></p>
    </body>
</html>